USE [Messages]
GO
/****** Object:  Table [dbo].[authors]    Script Date: 17/05/2022 12:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[birthdate] [date] NOT NULL,
	[added] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 17/05/2022 12:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[author_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[content] [varchar](max) NOT NULL,
	[date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[authors] ON 

INSERT [dbo].[authors] ([id], [first_name], [last_name], [email], [birthdate], [added]) VALUES (1, N'Rey', N'Deckow', N'brown.deshaun@example.net', CAST(N'1972-07-04' AS Date), CAST(N'2019-02-10T19:34:30.0000000' AS DateTime2))
INSERT [dbo].[authors] ([id], [first_name], [last_name], [email], [birthdate], [added]) VALUES (2, N'Wilhelm', N'Lang', N'davin21@example.net', CAST(N'2010-04-23' AS Date), CAST(N'2018-01-04T18:15:50.0000000' AS DateTime2))
INSERT [dbo].[authors] ([id], [first_name], [last_name], [email], [birthdate], [added]) VALUES (3, N'Bill', N'Murphy', N'reyna.hammes@example.net', CAST(N'1970-11-26' AS Date), CAST(N'2014-05-04T10:56:09.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[authors] OFF
GO
SET IDENTITY_INSERT [dbo].[posts] ON 

INSERT [dbo].[posts] ([id], [author_id], [title], [content], [date]) VALUES (1, 1, N'Assumenda dolorem earum inventore ipsa quae rerum officiis.', N'Qui expedita sit reiciendis saepe vel molestiae architecto ut. Blanditiis molestiae repellat dolorem excepturi eos. Amet quo accusamus dolor. Nihil ipsa rerum ducimus.', CAST(N'2011-07-19' AS Date))
INSERT [dbo].[posts] ([id], [author_id], [title], [content], [date]) VALUES (2, 2, N'Consequatur quis eos dolorem numquam minus ut quasi.', N'Error dolor qui aspernatur omnis. Aut expedita qui quasi illo voluptas similique autem. Nihil dolorem laboriosam facilis dolor consequuntur.', CAST(N'2018-04-25' AS Date))
INSERT [dbo].[posts] ([id], [author_id], [title], [content], [date]) VALUES (3, 3, N'Maxime repellendus et est in ex.', N'Consequatur minima aut harum quia incidunt deserunt consectetur. Ut beatae maiores aspernatur. Dolores excepturi minus expedita dolor dolore.', CAST(N'1983-08-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[posts] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [email]    Script Date: 17/05/2022 12:14:03 ******/
ALTER TABLE [dbo].[authors] ADD  CONSTRAINT [email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[authors] ADD  DEFAULT (getdate()) FOR [added]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [FK_posts_authors] FOREIGN KEY([author_id])
REFERENCES [dbo].[authors] ([id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [FK_posts_authors]
GO
